*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    display: flex;
    justify-content: center;
}
.pilt img {
    width: 750px;
    height: 150px;
}
.nupud {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    border: 0;
}
.tekst1 {
    padding-left: 50px;
    padding-right: 50px;
}
h1 {
    padding-bottom: 15px;
    padding-top: 15px;
}
h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.kontaktikaart{
    display: flex; 
    flex-direction: column;
    margin: auto;
    gap: 20px;
    width: auto;
    text-align: left;
}


.contact{
    display: flex;
    background-color: grey;
}

.nimitiitel{    
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.kontaktid{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    margin: 2px;
}

@media only screen and (max-width: 600px) {
    .contact{
    display: flex;
    background-color: lightgrey;
}
.text-stuff p{
    line-height: 0.5;
    padding-bottom: 8px;
    padding-top: 8px;
}

.container{
    max-width: 550px;
    margin: auto;
    display: flex;
    margin-bottom: 15px;
    
}
.text {
text-align: left;





}
.kontaktikaart{
    display: flex; 
    flex-direction: column;
    margin: auto;
    gap: 25px;
    width: 300px;
    text-align: center;
    
}
/* .aadress{
    display: flex;
    align-items: flex-start;
    justify-content: start;
} */





  .pilt img {
        width: 100px;
        height: 100px;


    }

/* hide mobile version by default */
.logomobile 
   
.nupud {
    display: none;
}
input {
    display: none;
}
/* when screen is less than 600px wide
show mobile version and hide desktop */
@media only screen and (max-width: 600px) {
    body
    .logomobile {
        display: flex;
        width: 150px;
        height: 141px;
        left: 0px;
        top: 0px;
    }
    .logo{
      display: flex;
      justify-content: left;    
    }
   





}
}
