*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.contact{
    display: flex;
    background-color: grey;
}
.text-stuff p{
    line-height: 0.4;
    padding-bottom: 8px;
    padding-top: 8px;
}

.container{
    max-width: 550px;
    margin: auto;
    display: flex;
    
    
}
.text {
text-align: left;





}
.kontaktikaart{
    display: flex; 
    flex-direction: column;
    margin: auto;
    gap: 25px;
    width: auto;
    text-align: center;
    
}
.aadress{


    
}







/* hide mobile version by default */
.logomobile 
   
.nupud {
    display: none;
}
input {
    display: none;
}
/* when screen is less than 600px wide
show mobile version and hide desktop */
@media only screen and (max-width: 600px) {
    body
    .logomobile {
        display: flex;
        width: 150px;
        height: 141px;
        left: 0px;
        top: 0px;
    }
    .logo{
      display: flex;
      justify-content: left;    
    }
     .pilt img {
        width: 100px;
        height: 100px;


    }




}
